body{
    background: #003;
    background-image: image("images/bg.png");
}
h2{
    font: 35px monospace;
    color: #fff;
    text-align: center;
}
#clock{
    width: 820px;
    height: 820px;
    position: relative;
    margin: 50px auto;
    text-align: center;
}
#clock h2{
    font: 35px monospace;
    color: #fff;
}
.year{
    padding: 10px;
}
.time{
    padding: 10px;
}
#clock.img{
    position: relative;
}
.num{
    width:25px;
}
.week1{
    width:80px;
    margin-left: 10px;
}
.week2{
    width: 40px;
}